.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: white;
}

.bio {
  text-align: center;
  color: white;
  margin-top: 16px; 
}

.postButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(29,161,242);
  color: white;
  font-weight: bold;
}

@keyframes spin {

  to { transform: rotate(360deg) };
  
}

.loader {
  width: 64px;
  height: 64px;
  border-radius: 50%;

  border-top: 8px solid rgba(255, 255, 255, 1);
  border-left: 8px solid rgba(255, 255, 255, 1);
  border-right: 8px solid rgba(255, 255, 255, 0);

  animation: spin 0.575s infinite linear;

  justify-content: center;
}